/*.tar.bz2
/*.tar.gz
/*~
/.python-version
/Makefile
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/bug
/config.log
/config.status
/configure
/dbg-trace.sh
/dist
/install-sh
/missing
/test/*/*.log
/test/*/*.trs
/test/integration/*.log
/tmp
/zshdb
/zshdb-1*
INSTALL
README
