/*~
/.*~
/Makefile
/Makefile.in
/test-alias.sh
/test-break.sh
/test-columns.sh
/test-dbg-opts.sh
/test-file.sh
/test-filecache.sh
/test-fns.sh
/test-frame.sh
/test-journal.sh
/test-pre.sh
/test-run.sh
/test-save-restore.sh
/test-sort.sh
