/*~
/.*~
/Makefile
/Makefile.in
/test-action.sh
/test-alias.sh
/test-break.sh
/test-cmd-complete.sh
/test-cmd-info-variables.sh
/test-columns.sh
/test-dbg-opts.sh
/test-examine.sh
/test-file.sh
/test-filecache.sh
/test-fns.sh
/test-frame.sh
/test-get-sourceline.sh
/test-journal.sh
/test-lib-eval.sh
/test-lib-shell.sh
/test-lib.eval.sh
/test-msg.sh
/test-pre.sh
/test-run.sh
/test-save-restore.sh
/test-setshow.sh
/test-sort.sh
/test-tty.sh
/test-validate.sh
