/*.check
/*.log
/*.trs
/*~
/Makefile
/Makefile.in
/bugIFS.sh
/check-common.sh
/test-action
/test-brkpt1
/test-bug-args
/test-bug-delete
/test-bug-errexit
/test-bug-ksharrays
/test-bugIFS
/test-bugIFS2
/test-condition
/test-debug
/test-delete
/test-display
/test-enable
/test-examine
/test-export
/test-file-with-space
/test-file-with-spaces
/test-frame
/test-list
/test-multi
/test-next
/test-opts
/test-restart
/test-setshow
/test-skip
/test-step
/test-subshell
/test-tbreak
